<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Good Vibes Only</title>
  <link rel="stylesheet" href="Styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Orbitron&display=swap" rel="stylesheet">
  <script src="constants.js"></script>
  <script src="vue.js" defer></script>
  <script src="Script.js" defer></script>
</head>
<body>


  <div class="container">


    <div class="center">
      <h1>GOOD VIBRATIONS</h1>
    </div>

    <div id="ID">

    <!-- <h2>{{ getSkullCount() }}</h2> -->

    <!-- Compte à rebours s'affiche ici -->

      <div class="space-up center">
       <div v-if="timerStarted == true" class="">
         <!-- <p>{{ tempsTotal }}</p> -->
         <p>{{ heures }} : {{ minutes }} : {{ secondes }}</p>
         <video autoplay="true">
           <source src="Alerte.mp4" type="video/mp4" />
         </video>
       </div>
      </div>

      <!-- Page d'Accueil -->

      <div v-if="currentPage == 'accueil'" class="center">
        <label for="password">IDENTIFICATION</label><br>
        <input type="text" id="Password" v-model.trim="password" v-on:keyup.13="handleAccueilClick"><br>
        <button v-on:click="handleAccueilClick">Valider</button>
      </div>

      <!-- Page Menu -->

      <div v-if="currentPage == 'menu'" class="center">
        <button type="button" name="button" v-on:click="corpus">Accès au corpus</button><br>
        <button type="button" name="button" v-on:click="liste">Liste des joueurs</button><br>
        <button type="button" name="button" disabled>Système central de sécurité</button><br>
        <button type="button" name="button" v-on:click="backAccueil">Retour</button>
      </div>

      <!-- Page d'ID pour l'accès au Corpus -->

      <div v-if="currentPage == 'accesCorpus'" class="center">
        <label>Habilitation : Accès au corpus</label><br>
        <input type="text" v-model.trim="passwordCorpus" v-on:keyup.13="mdp2"><br>
        <button type="button" name="button" v-on:click="mdp2">Valider</button><br>
        <button type="button" name="button" v-on:click="backMenu">Retour</button>
      </div>

      <!-- Page du Corpus avec les fées -->

      <div v-if="currentPage == 'pageCorpus'" class="">
        <h3>DES FÉES PARTOUT PLEIN DE FÉES</h3>
        <!-- <button type="button" name="button" v-on:click="retour">back</button> -->
      </div>

      <!-- Page d'ID pour l'accès à la liste -->

      <div v-if="currentPage == 'accesListe'" class="">
        <label>Habilitation : Accès à la Liste des Joueurs</label>
        <input type="text" v-model.trim="passwordListe" v-on:keyup.13="mdp3">
        <button type="button" name="button" v-on:click="mdp3">Submit</button>
        <button type="button" name="button" v-on:click="backMenu">back</button>
      </div>

      <!-- Page de Liste des Joueurs -->

      <div v-if="currentPage == 'pageListe'" class="">
        <h3>LA LISTE DES JOUEURS</h3>
        <button type="button" name="button" v-on:click="backMenu">back</button>
      </div>

      <!-- Page d'erreur -->

      <div v-if="currentPage == 'dechargeElec'" class="decharge">
        <video autoplay="true">
          <source src="Decharge.mp4" type="video/mp4" />
        </video>
        <!-- <button type="button" name="button" v-on:click="backMenu">back</button> -->
      </div>

      <!-- Page de fin du temps -->

      <div v-if="currentPage == 'end'" class="">
        <h3>CORPUS DÉTRUIT</h3>
      </div>

      <!-- Page de fin du trip-->

      <div v-if="currentPage == 'downtrip'" class="">
        <h3>DOWNTRIP EN COURS</h3>
      </div>

      <!-- Alerte de fin -->

      <div v-if="endOfTime ==  true" class="">
        <video width="0" height="0" autoplay="true" loop>
          <source src="Alerte.mp4" type="video/mp4" />
        </video>
        <button v-on:click="pauseAlerte">Pause</button>
      </div>

      <!-- Les cranes -->

      <div v-if="skullCount >= 1 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <div v-if="skullCount >= 2 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <div v-if="skullCount >= 3 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <div v-if="skullCount >= 4 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <div v-if="skullCount >= 5 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <div v-if="skullCount >= 6 " class="">
        <img src="Xena.jpg" alt="Xena en confiance">
      </div>

      <!-- ceci clot la div ID -->
    </div>

     <!-- ceci clot la div container -->

  <p><a href="./config.html">Accès à l'admin RETIRER pour jouer!</a></p>

  </div>

</body>
</html>
