<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Good Vibes Only</title>
    <link rel="stylesheet" href="Styles.css" type="text/css">
    <script src="vue.js" defer></script>
    <script src="moment.js" defer></script>
    <script src="Script.js" defer></script>
  </head>
  <body>

<div class="header">
  <h1>GOOD VIBES ONLY</h1>
  <p>Une murder avec Jude Law</p>

  <script>
      moment();
  </script>
</div>

<div id="ID">
  <h2>Une app préparée avec soin pour {{ username }}</h2>

<!-- Page d'Accueil -->

  <div v-if="compteARebours == 'display'" class="">
    <p>COMPTE A REBOURS GARE A TES FESSES</p>
  </div>

  <div v-if="currentPage == 'accueil'" class="">
    <label for="password">Password</label>
    <input type="text" id="Password" v-model.trim="password" v-on:keyup.13="mdp1">
    <button v-on:click="mdp1">Submit</button>
    <p>La valeur est {{ value }}</p>
  </div>

<!-- Page Menu -->

  <div v-if="currentPage == 'menu'" class="">
    <button type="button" name="button" v-on:click="corpus">Accès au corpus</button>
    <button type="button" name="button" v-on:click="liste">Liste des joueurs</button>
    <button type="button" name="button" disabled>Système central de sécurité</button>
    <button type="button" name="button" v-on:click="backAccueil">BACK</button>
  </div>

<!-- Page d'ID pour l'accès au Corpus -->

  <div v-if="currentPage == 'accesCorpus'" class="">
    <label>Habilitation : Accès au corpus</label>
    <input type="text" v-model.trim="passwordCorpus" v-on:keyup.13="mdp2">
    <button type="button" name="button" v-on:click="mdp2">Submit</button>
    <button type="button" name="button" v-on:click="backMenu">back</button>
  </div>

<!-- Page du Corpus avec les fées -->

  <div v-if="currentPage == 'pageCorpus'" class="">
    <h3>DES FÉES PARTOUT PLEIN DE FÉES</h3>
    <button type="button" name="button" v-on:click="backMenu">back</button>
  </div>

  <!-- Page d'ID pour l'accès à la liste -->

    <div v-if="currentPage == 'accesListe'" class="">
      <label>Habilitation : Accès à la Liste des Joueurs</label>
      <input type="text" v-model.trim="passwordListe" v-on:keyup.13="mdp3">
      <button type="button" name="button" v-on:click="mdp3">Submit</button>
      <button type="button" name="button" v-on:click="backMenu">back</button>
    </div>

  <!-- Page de Liste des Joueurs -->

    <div v-if="currentPage == 'pageListe'" class="">
      <h3>LA LISTE DES JOUEURS</h3>
      <button type="button" name="button" v-on:click="backMenu">back</button>
    </div>

<!-- Page d'erreur -->

  <div v-if="currentPage == 'dechargeElec'" class="">
    <h3>DÉCHARGE DANS TA GUEULE DÉCHARGE DANS TA GUEULE SUR CHIQUITA</h3>
    <button type="button" name="button" v-on:click="backMenu">back</button>
  </div>

</div>



  </body>
</html>
