body {
  margin: 0;
  padding: 2em;
}

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes decharge {
  0%   {opacity: 100%;}
  100% {opacity: 0%;}
}

.decharge {
 animation-name: decharge;
 animation-duration: .5s;
 animation-iteration-count: 22;
}
